{% extends 'lib/base.html' %}

{% block main_body %}
    <div class="container">

        {% if form.errors %}
            <p>Your username and password didn't match. Please, try again.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p>
                    Your account doesn't have access to this page.
                    To proceed, please log in with an account that has access.
                </p>
            {% else %}
                <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ form.email.id_for_label }}" class="form-label">Email:</label>
                <input id="{{ form.email.id_for_label }}" class="form-control" type="email" name="username" required>
            </div>
            <div class="mb-3">
                <label for="{{ form.password.id_for_label }}" class="form-label">Password:</label>
                <input id="{{ form.password.id_for_label }}" class="form-control" type="password" name="password"
                       required>
            </div>
            <input type="hidden" name="next" value="{{ next }}"/>
            <div class="mb-3">
                <button class="btn btn-block btn-primary mt-2">Login</button>
            </div>
        </form>
    </div>
{% endblock %}
