{% extends "lib/base.html" %} {% block main_body %}
<div class="row">
    <div class="col"></div>
    <div class="form-check form-switch col-10">
        <label class="form-check-label" for="hide-completed"
            >Hide completed</label
        >
        <input
            type="checkbox"
            role="switch"
            id="hide-completed"
            class="form-check-input"
            onchange="saveMaxedOutPreference(this)"
            {%
            if
            hide_maxed_out
            %}checked{%
            endif
            %}
        />
    </div>
    <div class="col"></div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col-10">
        <form
            id="portToPort"
            action="{% url 'armor:update-armor' %}"
            method="post"
        >
            {% csrf_token %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="text-center" colspan="2">
                            Armor
                        </th>
                    </tr>
                    <tr>
                        <th scope="col">Armor</th>
                        <th scope="col" class="text-end">Current level</th>
                    </tr>
                </thead>
                <tbody>
                    {% for name, info in user_armor.items %}
                    <tr
                        class="armor-row"
                        {%
                        if
                        info.current_level=""
                        ="info.max_level"
                        and
                        hide_maxed_out
                        %}hidden{%
                        endif
                        %}
                    >
                        <th scope="row">
                            <label for="{{ name }}" title="{{ info.tooltip }}">
                                {{ name }}
                            </label>
                        </th>
                        <td class="text-end">
                            <input
                                type="number"
                                class="form-control"
                                name="{{ name }}"
                                placeholder="Not purchased"
                                min="0"
                                max="{{ info.max_level }}"
                                value="{{ info.current_level }}"
                            />
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="2" class="text-center">
                            <button class="btn btn-block btn-primary mt-2">
                                Update
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="col"></div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col-10">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" class="text-center" colspan="2">
                        Remaining Cost
                    </th>
                </tr>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col" class="text-end">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for item, quantity in remaining_cost.items %}
                <tr
                    class="cost-row"
                    {%
                    if
                    quantity=""
                    ="0"
                    and
                    hide_maxed_out
                    %}hidden{%
                    endif
                    %}
                >
                    <th scope="row">{{ item }}</th>
                    <td class="text-end">{{ quantity }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col"></div>
</div>
{% endblock %}
